[submodule "modules/openstack"]
	path = modules/openstack
	url = https://github.com/CiscoSystems/puppet-openstack
[submodule "modules/nova"]
	path = modules/nova
	url = https://github.com/CiscoSystems/puppet-nova
[submodule "modules/glance"]
	path = modules/glance
	url = https://github.com/CiscoSystems/puppet-glance
[submodule "modules/keystone"]
	path = modules/keystone
	url = https://github.com/CiscoSystems/puppet-keystone
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/CiscoSystems/puppet-mysql
[submodule "modules/create_resources"]
	path = modules/create_resources
	url = https://github.com/CiscoSystems/puppet-create_resources
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/CiscoSystems/puppet-concat
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/CiscoSystems/puppet-rabbitmq
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/CiscoSystems/puppet-stdlib
[submodule "modules/cobbler"]
	path = modules/cobbler
	url = https://github.com/CiscoSystems/puppet-cobbler
[submodule "modules/puppet"]
	path = modules/puppet
	url = https://github.com/CiscoSystems/puppet-puppet
[submodule "modules/ntp"]
	path = modules/ntp
	url =  https://github.com/CiscoSystems/puppet-ntp
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/CiscoSystems/puppet-apt
[submodule "modules/apt-cacher-ng"]
	path = modules/apt-cacher-ng
	url = https://github.com/CiscoSystems/puppet-apt-cacher-ng
[submodule "modules/dnsmasq"]
	path = modules/dnsmasq
	url = https://github.com/CiscoSystems/puppet-dnsmasq
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/CiscoSystems/puppet-memcached
[submodule "modules/horizon"]
	path = modules/horizon
	url = https://github.com/CiscoSystems/puppet-horizon
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/CiscoSystems/puppet-sysctl
[submodule "modules/swift"]
	path = modules/swift
	url = https://github.com/CiscoSystems/puppet-swift
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/CiscoSystems/puppet-apache
[submodule "modules/lvm"]
	path = modules/lvm
	url = https://github.com/CiscoSystems/puppetlabs-lvm
[submodule "modules/ssh"]
	path = modules/ssh
	url = https://github.com/CiscoSystems/puppet-ssh
[submodule "modules/collectd"]
	path = modules/collectd
	url = https://github.com/CiscoSystems/puppet-collectd
[submodule "modules/snmpd"]
	path = modules/snmpd
	url = https://github.com/CiscoSystems/puppet-snmpd
[submodule "modules/rsync"]
	path = modules/rsync
	url = https://github.com/CiscoSystems/puppet-rsync
[submodule "modules/xinetd"]
	path = modules/xinetd
	url = https://github.com/CiscoSystems/puppet-xinetd
[submodule "modules/drbd"]
	path = modules/drbd
	url = https://github.com/CiscoSystems/puppet-drbd
[submodule "modules/openstack_admin"]
	path = modules/openstack_admin
	url = https://github.com/CiscoSystems/puppet-openstack_admin
[submodule "modules/corosync"]
	path = modules/corosync
	url = https://github.com/CiscoSystems/puppet-corosync
[submodule "modules/nagios"]
	path = modules/nagios
	url = https://github.com/CiscoSystems/puppet-nagios
[submodule "modules/monit"]
	path = modules/monit
	url = https://github.com/CiscoSystems/puppet-monit
