[submodule "modules/openstack"]
	path = modules/openstack
	url = https://github.com/CiscoSystems/puppet-openstack
[submodule "modules/nova"]
	path = modules/nova
	url = https://github.com/CiscoSystems/puppet-nova
[submodule "modules/glance"]
	path = modules/glance
	url = https://github.com/CiscoSystems/puppet-glance
[submodule "modules/keystone"]
	path = modules/keystone
	url = https://github.com/CiscoSystems/puppet-keystone
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/CiscoSystems/puppet-mysql
[submodule "modules/create_resources"]
	path = modules/create_resources
	url = https://github.com/CiscoSystems/puppet-create_resources
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/CiscoSystems/puppet-concat
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/CiscoSystems/puppet-rabbitmq
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/CiscoSystems/puppet-stdlib
[submodule "modules/cobbler"]
	path = modules/cobbler
	url = https://github.com/CiscoSystems/puppet-cobbler
[submodule "modules/puppet"]
	path = modules/puppet
	url = https://github.com/CiscoSystems/puppet-puppet
[submodule "modules/ntp"]
	path = modules/ntp
	url =  https://github.com/CiscoSystems/puppet-ntp
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/CiscoSystems/puppet-apt
[submodule "modules/apt-cacher-ng"]
	path = modules/apt-cacher-ng
	url = https://github.com/CiscoSystems/puppet-apt-cacher-ng
[submodule "modules/dnsmasq"]
	path = modules/dnsmasq
	url = https://github.com/CiscoSystems/puppet-dnsmasq
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/CiscoSystems/puppet-memcached
[submodule "modules/horizon"]
	path = modules/horizon
	url = https://github.com/CiscoSystems/puppet-horizon
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/CiscoSystems/puppet-sysctl
[submodule "modules/swift"]
	path = modules/swift
	url = https://github.com/CiscoSystems/puppet-swift
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/CiscoSystems/puppet-apache
[submodule "modules/lvm"]
	path = modules/lvm
	url = https://github.com/CiscoSystems/puppetlabs-lvm
